.boxflex {
    display: flex;
    align-items: center;
}

.textfield-type1 {
    width: 200px;
}

.margin5px {
    margin-top: 10px;
}

.submit-Button {
    margin-Top: 30px;
    /*margin-bottom: 60px;*/
}